<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <title>Booking</title>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <!--css-->
    <link th:href="@{/css/headerStyle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/booking.css}" rel="stylesheet" type="text/css"/>
    <!--js-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" n="anonymous"></script>
    <script src="/JS/booking.js"></script>
</head>
<body>
    <!----------------------
            header
    ------------------------>
    <header>
        <button><img src="/img/hotel_icon_14230-101x101.jpg" alt="img"></button>
        <p>インターコンチネンタルホテル</p>
        <button><img src="/img/hotel_bellboy_40327-101x101.jpg" alt="img"></button>
    </header>
    <hr>
    
    <!----------------------
            flow
    ------------------------>
    <section id="flow">
        <p>日程・人数<span></span></p>
        <p>客室選択<span></span></p>
        <p class="now">情報入力<span></span></p>
        <p>予約完了</p>
    </section>

    <!----------------------
            content
    ------------------------>
    <section id="booking">
        <form id="form" action="/booking" method="post">
            <!----------------------
                予約情報の入力
            ------------------------>
            <h3>予約者情報の入力</h2>
            <hr class="bookingHr">
            <div  class="wrapper">
                <h4>予約者情報</h4>
                <p class="grayText">※日本語以外の言語の方は、半角英数字にてご入力お願いいたします。</p>
                <!-----名前----->
                <p style="color: red; margin: 0;" th:text="${formErrorName1}"></p>
                <div id="bookingName">
                    <div class="form-item">
                        <label class="formLabel" for="nameFamily">予約者名(性)<span style="color: red; font-size: 12px; margin-left: 15px;">※必須</span></label>
                        <input class="form-style" type="text" id="nameFamily" name="nameFamily"/>
                    </div>
                    <div class="form-item">
                        <label class="formLabel" for="name">予約者名(名)<span style="color: red; font-size: 12px; margin-left: 15px;">※必須</span></label>
                        <input class="form-style" type="text" id="name" name="name"/>
                    </div>
                </div>

                <p style="color: red;margin: 0" th:text="${formErrorName2}"></p>
                <div id="bookingName">
                    <div class="form-item">
                        <label class="formLabel" for="nameKana">セイ(カナ・英字)<span style="color: red; font-size: 12px; margin-left: 15px;">※必須</span></label>
                        <input class="form-style" type="text" id="nameFamilyKana" name="nameFamilyKana"/>
                    </div>
                    <div class="form-item">
                        <label class="formLabel" for="nameKana">名(カナ・英字)<span style="color: red; font-size: 12px; margin-left: 15px;">※必須</span></label>
                        <input class="form-style" type="text" id="nameKana" name="nameKana"/>
                    </div>
                </div>
                <p class="grayText">※ミドルネームがある場合は、「名」の欄にファーストネームに続けてご入力ください。</p>
                <p class="grayText">※パスポート上にスペース、ドット(.)、()などが明記されている場合は、それらを除き入力してください。</p>

                <!-----性別----->
                <div id="BookingSex">
                    <label for="sex">性別<span style="color: red; font-size: 12px; margin-left: 15px; margin-right: 20px;">※必須</span></label>
                    <input type="radio" id="sex" name="sex" value="male" checked/>男性
                    <input type="radio" id="sex" name="sex" value="female"/>女性
                    <input type="radio" id="sex" name="sex" value="female"/>その他
                </div>

                <!-----電話番号----->
                <p style="color: red;margin: 0" th:text="${formErrorTel}"></p>
                <div id="BookingTel" class="form-item">
                    <label class="formLabel" for="tel">電話番号<span style="color: red; font-size: 12px; margin-left: 15px;">※必須</span></label>
                    <input class="form-style-tel" type="tel" id="tel" name="tel"/>
                </div>
                <p class="grayText">※当日のご連絡つく電話番号でお願いいたします。</p>

                <!-----メールアドレス----->
                <p style="color: red;margin: 0" th:text="${formErrorEmail}"></p>
                <div id="BookingMail" class="form-item">
                    <label class="formLabel" for="email">メールアドレス<span style="color: red; font-size: 12px; margin-left: 15px;">※必須</span></label>
                    <input class="form-style-tel" type="email" id="email" name="email"/>
                </div>
                <p class="grayText">※パソコンからのメールを受信拒否する設定をされている場合は、メール受信を許可してください。</p>

                <!-----メルマガ----->
                <div id="BookingMagazine">
                    <label for="magazine">ご入力されたメールアドレスにホテルからお知らせメールやメールマガジンをお送りしてもよろしいでしょうか。</label><br>
                    <input type="radio" id="magazine" name="magazine" value="yes" checked/>はい
                    <input type="radio" id="magazine" name="magazine" value="no"/>いいえ
                </div>
            </div>

            <!----------------------
                予約内容の確認
            ------------------------>
            <h3>予約内容の確認</h2>
            <hr class="bookingHr">
            <div  class="wrapper">
                <h4>予約者情報</h4>
                <table>
                    <tr>
                        <td ><img src="/img/booking_icon_1.jpg" alt="img"></td>
                        <td>ヨコハマ インターコンチネンタルホテル</td>
                    </tr>
                    <tr>
                        <td><img src="/img/booking_icon_2.jpg" alt="img"></td>
                        <td>【ノンフレキシブルレート】15時チェックイン-11時チェックアウト(室料のみ)</td>
                    </tr>
                    <tr>
                        <td><img src="/img/booking_icon_3.jpg" alt="img"></td>
                        <td><span>客室:</span>
                            <span class="room" th:text="${userData.room}"></span>
                            <span>タイプ</span>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/img/booking_icon_4.jpg" alt="img"></td>
                        <td><span th:text="${userData.checkIn}"></span>
                            <span>～</span>
                            <span th:text="${userData.checkOut}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/img/booking_icon_5.jpg" alt="img"></td>
                        <td>
                            <span>大人</span>
                            <span th:text="${userData.adult}"></span>
                            <span>名</span>
                            
                            <span>子供</span>
                            <span th:text="${userData.child}"></span>
                            <span>名</span>
                        </td>
                    </tr>
                </table>
            </div>

            <!----------------------
                お支払い金額・方法
            ------------------------>
            <h3>お支払い金額/お支払い方法</h2>
            <hr class="bookingHr">
            <div id="pay" class="wrapper">
                <section class="howToPay">
                    <h4>お支払い方法</h4>
                    <div class="bookingDiv">
                        <input type="radio" id="howToPay" name="howToPay" value="local" onchange="handlePaymentOption()"/>現地払い
                        <input type="radio" id="howToPay" name="howToPay" value="web" checked onchange="handlePaymentOption()"/>Web決済
                        <p class="grayText">※ご予約確定後にお支払方法の変更はできません。</p>
                        <div class="paypay">
                            <p id="errorMessage" style="color: red;"></p>
                            <p>使用できるカード</p>
                            <ul>
                                <li><img src="/img/card_JCB.png" alt="jcb"></li>
                                <li><img src="/img/card_VISA.png" alt="visa"></li>
                                <li><img src="/img/card_MASTER.png" alt="master"></li>
                                <li><img src="/img/card_AMEX.png" alt="amex"></li>
                                <li><img src="/img/card_DINERS.png" alt="diners"></li>
                            </ul>
                            
                            <div class="form-item">
                                <label class="formLabel">カード番号</label>
                                <input class="form-style-number" type="text"/>
                            </div>

                            <div class="form-item" style="width: 150%;">
                                <select class="form-item-card">
                                    <option value="" style="display: none;">有効期限 月</option>
                                    <option value=”item1”>01</option>
                                    <option value=”item2”>02</option>
                                    <option value=”item3”>03</option>
                                    <option value=”item4”>04</option>
                                    <option value=”item5”>05</option>
                                    <option value=”item6”>06</option>
                                    <option value=”item7”>07</option>
                                    <option value=”item8”>08</option>
                                    <option value=”item9”>09</option>
                                    <option value=”item10”>10</option>
                                    <option value=”item11”>11</option>
                                    <option value=”item12”>12</option>
                                </select>
                                <span style="margin: 0 10px; color: #aaa;">/</span>
                                <select class="form-item-card">
                                    <option value="" style="display: none;">有効期限 年</option>
                                    <option value=”item1”>2023</option>
                                    <option value=”item2”>2024</option>
                                    <option value=”item3”>2025</option>
                                    <option value=”item4”>2026</option>
                                    <option value=”item5”>2027</option>
                                    <option value=”item6”>2028</option>
                                    <option value=”item7”>2029</option>
                                    <option value=”item8”>2030</option>
                                    <option value=”item9”>2031</option>
                                    <option value=”item10”>2032</option>
                                    <option value=”item11”>2033</option>
                                </select>
                            </div>

                            <div class="form-item">
                                <label class="formLabel">セキュリティコード</label>
                                <input class="form-style-number security-code" type="text"/>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="totalPay">
                    <h4>お支払い金額</h4>
                    <div class="bookingDiv">
                        <p>宿泊金額 合計</p>
                        <div class="tax">
                            <span id="priceValue" th:text="${totalPrice}"></span>
                            <span style="font-weight: bold;">円</span>
                        </div>
                    <p class="tax">(税込)</p>
                    </div>
                </section>
            </div>

            <div class="parent-container">
                <button type="submit" name="next" value="Next">
                    <p>予約を確定する</p>
                </button>
            </div>

            <!---------------------------
                以下は非表示のコンテンツ
            ----------------------------->
            <!--日程-->
            <input type="hidden" name="checkIn" th:value="${userData.checkIn}">
            <input type="hidden" name="checkOut" th:value="${userData.checkOut}">
            <!--大人/子供の人数-->
            <input type="hidden" name="adult" th:value="${userData.adult}">
            <input type="hidden" name="child" th:value="${userData.child}">
            <!--客室タイプ-->
            <input type="hidden" name="room" th:value="${userData.room}">
            <input type="hidden" name="price" th:value="${userData.price}">

        </form>
    </section>

    <script>
        numComma("priceValue");

        // 3桁ごとにカンマを表示する処理を呼び出す
        function numComma(id) {
            var num = Number(document.getElementById(id).textContent);
            document.getElementById(id).textContent = num.toLocaleString();
        }
    </script>
</body>
</html>