<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking</title>
</head>
<body>
    <h2>Let's Booking!</h2>

    <form action="/booking" method="post">
        <label for="name">予約者名:</label>
        <input type="text" id="name" name="name"/>
        
        <label for="tel">電話番号:</label>
        <input type="number" id="tel" name="tel"/>

        <!--大人/子供の人数-->
        <input type="hidden" name="adult" th:value="${userData.adult}">
        <input type="hidden" name="child" th:value="${userData.child}">

        <!--客室タイプ-->
        <input type="hidden" name="room" th:value="${userData.room}">

        <button type="submit">登録</button>
    </form>
</body>
</html>