<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <title>Booking</title>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <!--css-->
    <link th:href="@{/css/headerStyle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/booking.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <!----------------------
            header
    ------------------------>
    <header>
        <button><img src="/img/hotel_icon_14230-101x101.jpg" alt="img"></button>
        <p>インターコンチネンタルホテル</p>
        <button><img src="/img/hotel_bellboy_40327-101x101.jpg" alt="img"></button>
    </header>
    <hr>
    
    <!----------------------
            flow
    ------------------------>
    <section id="flow">
        <p>日程・人数<span></span></p>
        <p>客室選択<span></span></p>
        <p class="now">情報入力<span></span></p>
        <p>予約完了</p>
    </section>
    <h2>Let's Booking!</h2>

    <form action="/booking" method="post">
        <label for="name">予約者名:</label>
        <input type="text" id="name" name="name"/>
        
        <label for="email">メールアドレス:</label>
        <input type="email" id="email" name="email"/>

        <label for="tel">電話番号:</label>
        <input type="tel" id="tel" name="tel"/>

        <!--日程-->
        <input type="hidden" name="checkIn" th:value="${userData.checkIn}">
        <input type="hidden" name="checkOut" th:value="${userData.checkOut}">
        <!--大人/子供の人数-->
        <input type="hidden" name="adult" th:value="${userData.adult}">
        <input type="hidden" name="child" th:value="${userData.child}">
        <!--客室タイプ-->
        <input type="hidden" name="room" th:value="${userData.room}">
        <input type="hidden" name="price" th:value="${userData.price}">

        <button type="submit">予約確定</button>
    </form>
</body>
</html>