<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manager</title>
</head>
<body>
    <h2>Manager</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>電話番号</th>
            <th>チェックイン</th>
            <th>チェックアウト</th>
            <th>大人</th>
            <th>子供</th>
            <th>客室タイプ</th>
        </tr>
        <tr th:each="userData, stat : ${userDataList}">
            <td th:text="${stat.count}"></td>
            <td th:text="${userData.name}"></td>
            <td th:text="${userData.email}"></td>
            <td th:text="${userData.tel}"></td>
            <td th:text="${userData.checkIn}"></td>
            <td th:text="${userData.checkOut}"></td>
            <td th:text="${userData.adult}"></td>
            <td th:text="${userData.child}"></td>
            <td th:text="${userData.room}"></td>
        </tr>
    </table>
    
    <a href="/">戻る</a>
    
</body>
</html>
