<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Manager</title>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <!--css-->
    <link th:href="@{/css/headerStyle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/manager.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h2>予約状況一覧</h2>
    <table>
        <tr>
            <th>ID</th>
            <th colspan="2">名前</th>
            <th>メールアドレス</th>
            <th>電話番号</th>
            <th>checkIn</th>
            <th>checkOut</th>
            <th>大人</th>
            <th>子供</th>
            <th>客室タイプ</th>
            <th>料金</th>
        </tr>
        <tr th:each="userData, stat : ${userDataList}">
            <td th:text="${stat.count}"></td>
            <td th:text="${userData.nameFamily}"></td>
            <td th:text="${userData.name}"></td>
            <td th:text="${userData.email}"></td>
            <td th:text="${userData.tel}"></td>
            <td th:text="${userData.checkIn}"></td>
            <td th:text="${userData.checkOut}"></td>
            <td th:text="${userData.adult}"></td>
            <td th:text="${userData.child}"></td>
            <td th:text="${userData.room}"></td>
            <td th:text="${userData.price}"></td>
        </tr>
    </table>
    
    <h2 style="margin-top: 50px;">客室情報</h2>
    <table>
        <tr>
            <th style="width: 50px;"></th>
            <th style="width: 80px;">Suite</th>
            <th style="width: 80px;">Deluxe</th>
            <th style="width: 80px;">Superior</th>
            <th style="width: 80px;">Standard</th>
            <th style="width: 80px;">Economy</th>
        </tr>
        <tr>
            <td>価格</td>
            <td th:text="${SuiteRoomPrice}"></td>
            <td th:text="${DeluxeRoomPrice}"></td>
            <td th:text="${SuperiorRoomPrice}"></td>
            <td th:text="${StandardRoomPrice}"></td>
            <td th:text="${EconomyRoomPrice}"></td>
        </tr>
        <tr>
            <td>定員</td>
            <td th:text="${SuiteRoomCapacity}"></td>
            <td th:text="${DeluxeRoomCapacity}"></td>
            <td th:text="${SuperiorRoomCapacity}"></td>
            <td th:text="${StandardRoomCapacity}"></td>
            <td th:text="${EconomyRoomCapacity}"></td>
        </tr>
        <tr>
            <td>客室数</td>
            <td th:text="${SuiteRoomNum}"></td>
            <td th:text="${DeluxeRoomNum}"></td>
            <td th:text="${SuperiorRoomNum}"></td>
            <td th:text="${StandardRoomNum}"></td>
            <td th:text="${EconomyRoomNum}"></td>
        </tr>
    </table>

    <h2 style="margin-top: 50px;">客室情報変更</h2>
    <form action="/roomDetail" method="post">
        <p style="color: red;margin: 0" th:text="${error}"></p>
        <select id="room" name="roomName">
            <option value="00" style="display: none;">選択画面する</option>
            <option value="01">suite</option>
            <option value="02">deluxe</option>
            <option value="03">superior</option>
            <option value="04">standard</option>
            <option value="05">economy</option>
        </select>
        <div>
            <label>客室価格</label>
            <input type="number" name="roomPrice" min="1" max="1000000"/>
            <span>円</span>
        </div>
        <div>
            <label>客室定員</label>
            <input type="number" name="roomCapacity" min="1" max="10"/>
            <span>人</span>
        </div>
        <div>
            <label>客室数</label>
            <input type="number" name="roomNum" min="1" max="10"/>
            <span>部屋</span>
        </div>
        <button type="submit" value="Next">
            <p>変更する</p>
        </button>
    </form>

    <a href="/">戻る</a>
    
</body>
</html>
