<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>menu</title>
	<script type="text/javascript"></script>
	<!-- <link th:href="@{/css/styleMenu.css}" rel="stylesheet" type="text/css" /> -->
</head>
<body>
    <h2>メニュー画面</h2>
    <div class="menu">
        <form th:action="@{/select}" method="post">
            <button type="submit" name="mode" value="gotoBooking">
                <p>予約へ</p>
            </button>
        </form>
        <form th:action="@{/select}" method="post">
            <button type="submit" name="mode" value="gotoManage">
                <p>管理者画面</p>
            </button>
        </form>
        <!-- <form th:action="@{/select-mode}" method="post">
            <button type="submit" name="mode" value="vending"> -->
    </div>
</body>
</html>