<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <title>Select Room</title>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <!--css-->
    <link th:href="@{/css/headerStyle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/selectRoom.css}" rel="stylesheet" type="text/css"/>
    <!--js-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" n="anonymous"></script>
    <script src="/JS/booking.js"></script>
</head>
<body>
    <!----------------------
            header
    ------------------------>
    <header>
        <button><img src="/img/hotel_icon_14230-101x101.jpg" alt="img"></button>
        <p>インターコンチネンタルホテル</p>
        <button><img src="/img/hotel_bellboy_40327-101x101.jpg" alt="img"></button>
    </header>
    <hr>
    
    <!----------------------
            flow
    ------------------------>
    <section id="flow">
        <p>日程・人数<span></span></p>
        <p class="now">客室選択<span></span></p>
        <p>情報入力<span></span></p>
        <p>予約完了</p>
    </section>

    <!----------------------
            content
    ------------------------>
    <nav>
        <ul>
            <li><img src="/img/booking_icon_4.jpg" alt="img"></li>        
            <li>
                <span th:text="${userData.checkIn}"></span>
                <span> ~ </span>
                <span th:text="${userData.checkOut}"></span>
            </li>
            <li><img src="/img/booking_icon_5.jpg" alt="img"></li>    
            <li>
                <span>大人</span><span class="member" th:text="${userData.adult}"></span><span>名</span>
                <span>子供</span><span class="member" th:text="${userData.child}"></span><span>名</span>
            </li>
        </ul>
    </nav>

    <section id="selectRoomTop" class="wrapper">
        <img img src="/img/selectRoom0.jpg" alt="img">
        <div>
            <h4>【ノンフレキシブルレート】室料のみ 7~20階</h6>
            <p>◆素泊まり ◆現地払い ◆in 15:00~24:00 / out 11:00まで</p>
            <p>ご予約時の客室タイプに応じた一般料金。ご予約後の予定変更にも柔軟に対応いたします。また、宿泊日数の制限や除外日もなくご利用いただけます。</p>
        </div>
    </section>
    <hr><br>
    <article id="selectRoom" class="wrapper">
        <form th:action="@{/select/roomSelect}" method="post">
            <!----------------------
                    Suite
            ------------------------>
            <section id="suite">
                <table>
                    <td class="div1">
                        <img src="/img/selectRoom1.jpg" alt="img">
                    </td>
            
                    <td class="div2">
                        <!-- ポップアップの内容 -->
                        <h3 id="roomDescription1" style="display: none;">【ノンフレキシブルレート】室料のみ 7~20階</h3>
                        <p id="roomDescription2" style="display: none;">◆素泊まり ◆現地払い ◆in 15:00~24:00 / out 11:00</p>
                        <p id="roomDescription3" style="display: none;">【客室備品・サービス】</p>
                        <p id="roomDescription4" style="display: none;">バスタブ、ウォークインシャワー、トイレ（温水洗浄便座）、インターネット接続（Wi-Fi、有線LAN）、地上波・BSデジタル対応液晶テレビ、冷蔵庫、湯沸かしポット、加湿空気清浄機、金庫、電話、ヘアドライヤー、ナイティー、バスタオル、ハンドタオル、ウォッシュタオル</p>
                        <p id="roomDescription5" style="display: none;">【アメニティ】</p>
                        <p id="roomDescription6" style="display: none;">シャンプー、コンディショナー、液体ボディウォッシュ、石鹸、歯ブラシ、歯磨き粉、髭剃り、シェービングフォーム、シャワーキャップ、コットン、綿棒、くし、スリッパ、緑茶、紅茶、コーヒー、ミネラルウォーター</p>

                        <p th:text="${SuiteRoomText}"></p>
                        <span>◆禁煙 ◆84.00m ◆1~<span th:text="${SuiteRoomCapacity}"></span>名</span>
                    </td>

                    <td class="div3">
                        <span class="text">(税サ込)</span>
                        <span class="price" id="suitePrice" th:text="${SuiteRoomPrice}"></span>
                        <span class="text">円</span>
                    </td>

                    <td class="div4">
                        <span>残り</span>
                        <span style="font-size: larger;" th:text="${SuiteRoomNum}"></span>
                        <span>室</span>
                    </td>

                    <td class="div5">
                        <a href="/img/selectRoom1.jpg" class="detail">詳細</a>
                    </td>

                    <td class="div6">
                        <button type="submit" name="roomSelect" value="Suite">
                            <p>今すぐ予約</p>
                        </button>
                    </td>
                </table>
            </section>

            <!----------------------
                    Deluxe
            ------------------------>
            <section id="deluxe">
                <table>
                    <td class="div1"><img img src="/img/selectRoom2.jpg" alt="img"></td>

                    <td class="div2">
                        <p th:text="${DeluxeRoomText}"></p>
                        <span>◆禁煙 ◆48.00m ◆1~<span th:text="${DeluxeRoomCapacity}"></span>名</span>
                    </td>

                    <td class="div3">
                        <span class="text">(税サ込)</span>
                        <span class="price" id="deluxePrice" th:text="${DeluxeRoomPrice}"></span>
                        <span class="text">円</span>
                    </td>

                    <td class="div4">
                        <span>残り</span>
                        <span style="font-size: larger;" th:text="${DeluxeRoomNum}"></span>
                        <span>室</span>
                    </td>

                    <td class="div5">
                        <a href="/img/selectRoom2.jpg" class="detail">詳細</a>
                    </td>

                    <td class="div6">
                        <button type="submit" name="roomSelect" value="Deluxe">
                            <p>今すぐ予約</p>
                        </button>
                    </td>
                </table>
            </section>

            <!----------------------
                    Superior
            ------------------------>
            <section id="superior">
                <table>
                    <td class="div1"><img img src="/img/selectRoom3.jpg" alt="img"></td>

                    <td class="div2">
                        <p th:text="${SuperiorRoomText}"></p>
                        <span>◆禁煙 ◆38.00m ◆1~<span th:text="${SuperiorRoomCapacity}"></span>名</span>
                    </td>

                    <td class="div3">
                        <span class="text">(税サ込)</span>
                        <span class="price" id="superiorPrice" th:text="${SuperiorRoomPrice}"></span>
                        <span class="text">円</span>
                    </td>

                    <td class="div4">
                        <span>残り</span>
                        <span style="font-size: larger;" th:text="${SuperiorRoomNum}"></span>
                        <span>室</span>
                    </td>

                    <td class="div5">
                        <a href="/img/selectRoom3.jpg" class="detail">詳細</a>
                    </td>

                    <td class="div6">
                        <button type="submit" name="roomSelect" value="Superior">
                            <p>今すぐ予約</p>
                        </button>
                    </td>
                </table>
            </section>

            <!----------------------
                    Standard
            ------------------------>
            <section id="standard">
                <table>
                    <td class="div1"><img img src="/img/selectRoom4.jpg" alt="img"></td>

                    <td class="div2">
                        <p th:text="${StandardRoomText}"></p>
                        <span>◆禁煙 ◆27.00m ◆1~<span th:text="${StandardRoomCapacity}"></span>名</span>
                    </td>

                    <td class="div3">
                        <span class="text">(税サ込)</span>
                        <span class="price" id="standardPrice" th:text="${StandardRoomPrice}"></span>
                        <span class="text">円</span>
                    </td>

                    <td class="div4">
                        <span>残り</span>
                        <span style="font-size: larger;" th:text="${StandardRoomNum}"></span>
                        <span>室</span>
                    </td>

                    <td class="div5">
                        <a href="/img/selectRoom4.jpg" class="detail">詳細</a>
                    </td>

                    <td class="div6">
                        <button type="submit" name="roomSelect" value="Standard">
                            <p>今すぐ予約</p>
                        </button>
                    </td>
                </table>
            </section>

            <!----------------------
                    Economy
            ------------------------>
            <section id="economy" style="margin-bottom: 20px;">
                <table>
                    <td class="div1"><img img src="/img/selectRoom5.jpg" alt="img"></td>

                    <td class="div2">
                        <p th:text="${EconomyRoomText}"></p>
                        <span>◆禁煙 ◆27.00m ◆1~<span th:text="${EconomyRoomCapacity}"></span>名</span>
                    </td>

                    <td class="div3">
                        <span class="text">(税サ込)</span>
                        <span class="price" id="economyPrice" th:text="${EconomyRoomPrice}"></span>
                        <span class="text">円</span>
                    </td>

                    <td class="div4">
                        <span>残り</span>
                        <span style="font-size: larger;" th:text="${EconomyRoomNum}"></span>
                        <span>室</span>
                    </td>

                    <td class="div5">
                        <a href="/img/selectRoom5.jpg" class="detail">詳細</a>
                    </td>

                    <td class="div6">
                        <button type="submit" name="roomSelect" value="Economy">
                            <p>今すぐ予約</p>
                        </button>
                    </td>
                </table>
            </section>

            <!--日程-->
            <input type="hidden" name="checkIn" th:value="${userData.checkIn}">
            <input type="hidden" name="checkOut" th:value="${userData.checkOut}">
            <!--大人/子供の人数-->
            <input type="hidden" name="adult" th:value="${userData.adult}">
            <input type="hidden" name="child" th:value="${userData.child}">
        </form>
    </article>

    <script>
        numComma("suitePrice");
        numComma("deluxePrice");
        numComma("superiorPrice");
        numComma("standardPrice");
        numComma("economyPrice");

        // 3桁ごとにカンマを表示する処理を呼び出す
        function numComma(id) {
            var num = Number(document.getElementById(id).textContent);
            document.getElementById(id).textContent = num.toLocaleString();
        }
    </script>
</body>
</html>