<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Select Room</title>
	<script type="text/javascript"></script>
	<!-- <link th:href="@{/css/styleMenu.css}" rel="stylesheet" type="text/css" /> -->
</head>
<body>
    <h2>Select Room</h2><!-- エコノミー、スタンダード、スーペリア、デラックス、スイート -->
    <div class="menu">
        <form th:action="@{/select/roomSelect}" method="post">
            <button type="submit" name="roomSelect" value="Economy">
                <p>エコノミー</p>
            </button>
            <button type="submit" name="roomSelect" value="Standard">
                <p>スタンダード</p>
            </button>
            <button type="submit" name="roomSelect" value="Superior">
                <p>スーペリア</p>
            </button>
            <button type="submit" name="roomSelect" value="Deluxe">
                <p>デラックス</p>
            </button>
            <button type="submit" name="roomSelect" value="Suite">
                <p>スイート</p>
            </button>

            <!--日程-->
            <input type="hidden" name="checkIn" th:value="${userData.checkIn}">
            <input type="hidden" name="checkOut" th:value="${userData.checkOut}">
            <!--大人/子供の人数-->
            <input type="hidden" name="adult" th:value="${userData.adult}">
            <input type="hidden" name="child" th:value="${userData.child}">
        </form>
    </div>
</body>
</html>