<!DOCTYPE html>
<html>
<head>
    <title>Select Date</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <h1>Select Date and Number of Guests</h1>
    
    <form action="/select/dateSelect" method="post">
        <label for="checkInDate">Check-in Date:</label>
        <input type="text" id="checkInDate" name="checkInDate" required>

        <label for="checkOutDate">Check-out Date:</label>
        <input type="text" id="checkOutDate" name="checkOutDate" required>

        <p style="color: red;" th:text="${formError}"></p>

        <label for="adult">Number of Adults:</label>
        <input type="number" id="adult" name="adult" min="1" max="10"/>

        <label for="child">Number of Children:</label>
        <input type="number" id="child" name="child" min="0" max="10"/>

        <input type="submit" value="Next">
    </form>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        // カレンダーの設定
        flatpickr("#checkInDate", {
            minDate: "today", // 今日以降の日付のみ選択可能にする
            dateFormat: "Y-m-d" // 日付の形式を指定
        });

        flatpickr("#checkOutDate", {
            minDate: "today", // 今日以降の日付のみ選択可能にする
            dateFormat: "Y-m-d" // 日付の形式を指定
        });
    </script>
</body>

</html>
